<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Campaign App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="/static/css/styles-extension.css">
</head>
<body>
    <header>
        <h1>MULTISIGNED STM</h1>
        <nav>
            <!-- Botão de menu hambúrguer -->
            <div class="hamburger-menu">
                <button id="hamburgerButton" class="hamburger-icon">
                    ☰
                </button>
                <ul id="mobileMenu" class="mobile-menu hidden">
                    <li><a href="{{ url_for('gallery.gallery_page') }}">Galeria</a></li>
                    <li><a href="{{ url_for('campaign.campaign_config') }}">Configurar</a></li>
                    <li><a href="{{ url_for('campaign.saved_campaigns') }}">Campanhas Salvas</a></li>
                    <li><a href="{{ url_for('association.cad_maquina') }}">CadMáquina</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main style="width: 100%; max-width: none; margin: 0; padding: 0;">
        {% block content %}{% endblock %}
    </main>

    <!-- Adicione os scripts aqui -->
    <script src="{{ url_for('static', filename='js/campaigns.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/ads.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/modals.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
</body>
</html>