<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Máquina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="/static/css/styles-extension.css">
</head>
<body>
    {% include 'base.html' %}
    <div class="container">
        <h1 class="color3">Cadastro de Máquina</h1>
        <form id="machineForm">
            <input 
                type="text" 
                placeholder="ID da Máquina (IP)" 
                name="machine_id" 
                class="input" 
                required 
                pattern="^((25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[0-1]?[0-9][0-9]?)$" 
                title="Digite um endereço IP válido (ex: 192.168.0.101)">
            <button type="submit">Cadastrar Máquina</button>
        </form>
    </div>

    <!-- Popup -->
    <div id="popup" class="popup" style="display: none;">
        <span id="popupMessage"></span>
        <button onclick="closePopup()">Fechar</button>
    </div>

    <script>
        const form = document.getElementById('machineForm');
        const popup = document.getElementById('popup');
        const popupMessage = document.getElementById('popupMessage');

        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Impede o envio padrão do formulário

            const machineIp = form.machine_id.value;

            fetch('/associations/save_machine', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ machine_ip: machineIp }),
            })
                .then(response => response.json())
                .then(data => {
                    popupMessage.textContent = data.message;
                    popup.style.display = 'block'; // Exibe o popup
                    if (response.ok) {
                        form.reset(); // Limpa o formulário se o IP foi salvo com sucesso
                    }
                })
                .catch(error => {
                    console.error('Erro ao salvar o IP:', error);
                });
        });

        function closePopup() {
            popup.style.display = 'none'; // Fecha o popup
        }
    </script>
</body>
</html>