<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="{{ url_for('auth.login') }}" method="POST">
            <div class="inputbox">
                <input type="text" id="username" name="username" required>
                <span>Usuário</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="password" id="password" name="password" required>
                <span>Senha</span>
                <i></i>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>